/* .ProjectsCatalogue_wrapper {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.slide-card {
  width: 100%;
  text-align: center;
}

.slide-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.slide-card h3 {
  margin-top: 15px;
  font-size: 20px;
} */


.ProjectsCatalogue_wrapper {
  width: 80%;
  margin: auto;
  padding: 40px 0;

}


.catalogue_des_projets_titre {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ProjectsCatalogue_wrapper h1 {
  text-align: center;
  margin-bottom: 40px; /* space between title and slider */
}

.slide-card {
  width: 100%;
  text-align: center;
}

.slide-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.slide-card h3 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}