* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}


#root {
  width: 100%;
  min-height: 100vh;
  display: block;
}

.logo_representative {
  width: 50px;
  height: 50px;
}

.entreprise_nom_representative {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}